/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 
 ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.61);
  -webkit-border-radius: 100px;
}

/* add vertical min-height & horizontal min-width */
::-webkit-scrollbar-thumb:vertical {
min-height: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
min-width: 10px;
}

body {
  margin: 0;
  color: white;
  height: 100vh;

  font-family: sans-serif;
  overflow-y: hidden;
  width: 100vw;

  background: url('../images/desktopappbackground.png') no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
}
#img.desk
.profileButtons {
  display: flex;
}

.img{
  max-width: 100%;
}

.profileButtons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

h3{
  color: #3c3c3c;
}

button {
  background-color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.0rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(111, 117, 133, 0.14);
  transition: transform ease-in 0.1s;
}
p{margin:5px}

button:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

/*INDICATOR*/
.disConnected {
  .indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(75, 75, 75, 0.664);
    border-style: solid;
    border-color: red;
    border-width: 2px;
    box-shadow: 5px 10px rgba(39, 39, 39, 0.521);
  }
  .dot {
    display: flex;
    justify-content: center;
    margin: 7px;
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px red;
  }
}
.connected {
  .dot {
    display: flex;
    justify-content: center;
    margin: 7px;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px green;
  }
  .indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(75, 75, 75, 0.664);
    border-style: solid;
    border-color: green;
    border-width: 2px;
    box-shadow: 5px 10px rgba(39, 39, 39, 0.521);
  }
}
.indicatorText {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  text-decoration-color: white;
  padding-right: 7px;
}
