/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
:root {
  //--color: red;
}
body {
  margin: 0;
  color: white;
  height: 100vh;

  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  width: 100vw;

  background: url('../images/desktopappbackground.png') no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
  overflow-y: hidden;
}
#img.desk
.profileButtons {
  display: flex;
}

.profileButtons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.frontpage-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.background-paper{
  background-color: #7a2c9e;
}

h3{
  color: #3c3c3c90;
}

button {
  background-color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(111, 117, 133, 0.14);
  transition: transform ease-in 0.1s;
}
p{margin:5px}

button:hover {
  transform: scale(1.05);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.Hello {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

/*INDICATOR*/
.disConnected {
  .indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(75, 75, 75, 0.664);
    border-style: solid;
    border-color: red;
    border-width: 2px;
    box-shadow: 5px 10px rgba(39, 39, 39, 0.521);
  }
  .dot {
    display: flex;
    justify-content: center;
    margin: 7px;
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px red;
  }
}
.connected {
  .dot {
    display: flex;
    justify-content: center;
    margin: 7px;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px green;
  }
  .indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(75, 75, 75, 0.664);
    border-style: solid;
    border-color: green;
    border-width: 2px;
    box-shadow: 5px 10px rgba(39, 39, 39, 0.521);
  }
}
.indicatorText {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  text-decoration-color: white;
  padding-right: 7px;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.521);
  height: 100vh;
  width: 20vw;
  margin: 0px;
  display: flex;
  flex-direction: column;

  .profiles {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .profile {
    display: flex;

    justify-content: center;
    align-items: flex-start;
  }
  .loadButton {
    justify-self: center;
    margin-top: auto;
  }
}
.testnavn {
  height: 100%;
  width: 100vw;
  display: flex;
  .phoneIndicator {
  }
}
